*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Log Files
*.log

# Keystore files
*.jks
*.keystore

# Google Services (e.g. APIs REST)
google-services.json

# VS Code
.vscode/

# Build folder in modules
app/build/

/.*
!/.github/
!/.github/**
!/.orion/
!/.orion/**
scratch/
node_modules/
